@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Poiret+One');
body{
	background: url("http://i.imgur.com/L02pEpP.jpg");
	background-size: cover;
	color: #fff;
	font-family: "Josefin Sans", sans-serif;
	font-size: 30px; /*1em = 30px*/
	font-weight: normal;
	font-weight: bold;
}
h1, h2 {
	text-align: center;
}
h1{
	font-size: 4em;
	font-family: "Poiret One", cursive;
}
ul {
	text-align: center;
	list-style-type: none;
}
a{
	color: inherit;
	text-decoration: none;
}
p{
	line-height: 1.5em;
	font-size: 1.5em;
}
hr{
	width: 200px;
}
.menu {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	padding:0 32px;
}
.firstsection {
	text-transform: uppercase;
	letter-spacing: 4px;
}
#slogan {
	text-align: center;
	font-family: "Josefin Sans";
	font-style: italic;
}
#description {
	text-align: center;
}
