@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Poiret+One');
body{
	background: url("http://i.imgur.com/L02pEpP.jpg");
	background-size: cover;
	color: #fff;
	font-family: "Josefin Sans", sans-serif;
	font-size: 30px; /*1em = 24px*/
	font-weight: normal;
	font-size: 30px;
	font-weight: bold;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px	;
}
h1, h2 {
	text-align: center;
}
h1{
	font-size: 4em;
	font-family: "Poiret One", cursive;
}
ul {
	text-align: center;
	list-style-type: none;
}
a{
	color: inherit;
	text-decoration: none;
}
p{
	line-height: 1.5em;
	font-size: 1.5em;
}
hr{
	width: 200px;
}
nav {
	background-color:#E8C66A;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	padding:0 32px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	font-size: .5em;
	text-align: center;
}
.firstsection {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
#slogan {
	text-align: center;
	font-family: "Josefin Sans";
	font-style: italic;
}
#description {
	text-align: center;
}
