body{
	background: url("http://i.imgur.com/L02pEpP.jpg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
	font-size: 35px;
	font-weight: bold;
}
h1, h2 {
	text-align: center;
}
ul {
	text-align: center;
	list-style-type: none;
}
#slogan {
	font-style: italic;
	text-align: center;
}
